@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --color-brand: #859b7c; /* Higher contrast sage green */
  --color-brand-light: #f1f4f0;
  --color-neutral-soft: #f9f9f9;
}

@layer base {
  body {
    @apply font-sans text-slate-900 bg-white;
  }
}
